body {
  background-color: #f4f1de;
}

.not-visible {
  visibility: hidden;
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}
.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}
.center {
  text-align: center;
}

.test {
  border: 1px solid red;
}

.home-main {
  height: 100vh;
  background-image: url("../images/back.png");
  background-size: cover;
  background-position: center;
}

.logo-row {
  padding: 56px 100px;
}
.logo-row .logo-right {
  text-align: right;
}
.logo-row .logo-right .right-box {
  border-style: solid;
  border-color: #FFFFFF;
  border-color: white;
  border-width: 2px;
  width: 152px;
  height: 296px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  padding: 15px;
  position: relative;
  margin: auto;
}
.logo-row .logo-right .right-box span {
  position: absolute;
  bottom: 10px;
  left: 0%;
  font-weight: 400;
  font-family: "Comfortaa", sans-serif;
  color: #ffffff;
  line-height: 200%;
  font-size: 16px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}
.logo-row .logo-right .right-box img {
  margin: 0 auto;
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .logo-row .logo-right .right-box {
    width: 142px;
    height: 276px;
  }
}
@media only screen and (max-width: 599px) {
  .logo-row .logo-right .right-box {
    width: 132px;
    height: 236px;
  }
}
.logo-row .logo-left span {
  font-size: 24px;
  color: #ffffff;
  font-family: "Comfortaa", sans-serif;
  margin: 15px 0px;
}
.logo-row .logo-left h1 {
  font-size: 72px;
  margin: 15px 0px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  font-family: "Comfortaa", sans-serif;
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .logo-row .logo-left h1 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 599px) {
  .logo-row .logo-left h1 {
    font-size: 30px !important;
  }
}
@media only screen and (max-width: 599px) {
  .logo-row .logo-left {
    text-align: center;
  }
}

@media only screen and (max-width: 599px) {
  .logo-row {
    padding: 10px;
  }
}
.register-button .button-above {
  border: 2px solid #ffffff;
  width: 265px;
  height: 73px;
  padding: 5px 3px;
  color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}
.register-button .button-above a {
  border: 2px solid #ffffff;
  height: 100%;
  width: 100%;
  font-size: 26px;
  font-family: "Comfortaa", sans-serif;
  color: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.35);
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .register-button .button-above {
    width: 200px;
    height: 65px;
  }
}
@media only screen and (max-width: 599px) {
  .register-button .button-above {
    width: 180px;
    height: 50px;
  }
}

.down-arrow {
  margin-top: 10vh;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .down-arrow {
    margin-top: 15vh;
  }
}
@media only screen and (max-width: 599px) {
  .down-arrow {
    margin-top: 5vh;
  }

  .register-button {
    margin-top: 3vh;
  }
}
.nav-bar {
  min-height: 56px;
  height: auto;
  position: fixed;
  width: 100%;
  font-family: "Varela Round", sans-serif;
  z-index: 999;
  background: #3949AB;
}
.nav-bar ul {
  list-style-type: none;
  padding: 5px;
  margin: 0 auto;
}
.nav-bar ul li {
  float: left;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #C6DFF8;
  font-weight: 500;
}
.nav-bar ul li:hover {
  color: #ffffff;
  cursor: pointer;
}

.custom-card {
  background: #ffffff;
  z-index: 10;
  font-size: 16px;
  line-height: 27px;
  color: #9da6b8;
  font-family: "Open Sans", sans-serif;
  padding: 24px;
  font-weight: 300;
  height: 64vh;
  box-shadow: 0 2px 5px 0 #E0E0E0;
}

.custom-card1 {
  background: #ffffff;
  z-index: 10;
  font-size: 16px;
  line-height: 27px;
  color: #9da6b8;
  font-family: "Open Sans", sans-serif;
  padding: 24px;
  font-weight: 300;
  min-height: 64vh;
  box-shadow: 0 2px 5px 0 #E0E0E0;
}

#about {
  padding: 72px 15px 15px 15px;
}
#about img {
  height: 100%;
}
#about .about-text {
  font-size: 24px;
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 36px;
  color: #3D405B;
}

.home {
  background-color: #f4f1de;
}

#incentives {
  padding: 15px;
}
#incentives img {
  margin: 0 auto;
}
#incentives .inc-text {
  font-size: 24px;
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 36px;
  color: #3D405B;
}
