@import "compass";
@import "partials/variables";

body {
  background-color: $home-background;
}

.not-visible {
  visibility: hidden;
}
@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}

.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}

.center {
  text-align: center;
}

.test {
  border: 1px solid red;
}

.home-main {
  min-height: 100vh;
  background-image: url('../images/back.png');
  background-size: cover;
  background-position: center;

}

.logo-row {
  padding: 56px 100px;

  .logo-right {
    text-align: right;

    .right-box {
      border-style: solid;
      border-color: #FFFFFF;
      border-color: rgba(255, 255, 255, 1);
      border-width: 2px;
      width: 152px;
      height: 296px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
      padding: 15px;
      position: relative;
      margin: auto;

      span {
        position: absolute;
        bottom: 10px;
        left: 0;
        font-weight: 400;
        font-family: $comfortaa;
        color: $white;
        line-height: 200%;
        font-size: 16px;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
      }

      img {
        margin: 0 auto;
      }
    }
    @media only screen and (min-width: 600px) and (max-width: 992px) {
      .right-box {
        width: 142px;
        height: 276px;
      }
    }
    @media only screen and (max-width: 599px) {
      .right-box {
        width: 132px;
        height: 236px;
      }
    }
  }

  .logo-left {
    span {
      font-size: 24px;
      color: $white;
      font-family: $comfortaa;
      margin: 15px 0;
    }

    h1 {
      font-size: 72px;
      margin: 15px 0;
      text-transform: uppercase;
      color: $white;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
      font-family: $comfortaa;
    }
    @media only screen and (min-width: 600px) and (max-width: 992px) {
      h1 {
        font-size: 50px;
      }
    }
    @media only screen and (max-width: 599px) {
      h1 {
        font-size: 30px !important;
      }
    }
  }
  @media only screen and (max-width: 599px) {
    .logo-left {
      text-align: center;
    }
  }
}
@media only screen and (max-width: 599px) {
  .logo-row {
    padding: 10px;
  }
}

.register-button {
  .button-above {
    border: 2px solid $white;
    width: 265px;
    height: 73px;
    padding: 5px 3px;
    color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);

    a {
      border: 2px solid $white;
      height: 100%;
      width: 100%;
      font-size: 26px;
      font-family: $comfortaa;
      color: $white;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 992px) {
    .button-above {
      width: 200px;
      height: 65px;
    }
  }
  @media only screen and (max-width: 599px) {
    .button-above {
      width: 180px;
      height: 50px;
    }
  }
}

.down-arrow {
  margin-top: 10vh;
}
#faqButton{
  display: none;
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .down-arrow {
    margin-top: 15vh;
    display: none;
  }
  #faqButton{
    display: block;
    margin: 0 auto;
    align-self: center;
    // border: black 5px solid;
  }
}
@media only screen and (max-width: 599px) {
  .down-arrow {
    margin-top: 5vh;
    display: none;
  }

  .register-button {
    margin-top: 3vh;
  }
  #faqButton{
    display: block;
    margin: auto;

  }
}
/////////////////////////////////////////////////HOME PAGE CSS
.nav-bar {
  min-height: 56px;
  height: auto;
  position: fixed;
  width: 100%;
  font-family: "Varela Round", sans-serif;
  z-index: 999;
  background: #3949AB;

  ul {
    list-style-type: none;
    padding: 5px;
    margin: 0 auto;
  }

  ul li {
    float: left;
    padding: 10px 5%;
    text-transform: uppercase;
    color: #C6DFF8;
    // color:black;
    font-weight: 500;
    // margin: 0 1%;
    // padding: 10 5%;
  }

  ul li:hover {
    color: #ffffff;
    cursor: pointer;
    background-color: #6b1be2;
  }

  .navListItem a {
    color: white;
    text-decoration: none;
  }
  // .navImage{
  //   max-height: 20%;
  // }
  .isActive {
    background-color: #330538;
  }
}

.custom-card {
  background: #ffffff;
  z-index: 10;
  font-size: 16px;
  line-height: 27px;
  color: #9da6b8;
  font-family: $open-sans;
  padding: 24px;
  font-weight: 300;
  height: 64vh;
  box-shadow: 0 2px 5px 0 #E0E0E0;
}

.custom-card1 {
  background: #ffffff;
  z-index: 10;
  font-size: 16px;
  line-height: 27px;
  color: #9da6b8;
  font-family: $open-sans;
  padding: 24px;
  font-weight: 300;
  min-height: 64vh;
  box-shadow: 0 2px 5px 0 #E0E0E0;
}

.custom-card2 {
  background: #ffffff;
  z-index: 10;
  font-size: 16px;
  line-height: 27px;
  color: #9da6b8;
  font-family: $open-sans;
  padding: 24px;
  font-weight: 300;
  min-height: 30vh;
  box-shadow: 0 2px 5px 0 #E0E0E0;
}

#about {
  padding: 72px 15px 15px;

  img {
    height: 100%;
  }

  .about-text {
    font-size: 24px;
    font-family: $open-sans-condensed;
    line-height: 36px;
    color: $text-color;
  }

  h1 {
    font-size: 36px;
    color: $text-color;
    font-family: $open-sans-condensed;
    text-align: left !important;
  }
}

.home {
  background-color: $home-background;
}

#incentives {
  padding: 15px;

  img {
    margin: 0 auto;
  }

  .inc-text {
    font-size: 24px;
    font-family: $open-sans-condensed;
    line-height: 36px;
    color: $text-color;
    // text-align: center;
    // margin: auto;
  }

  ul {
    font-size: 24px;
    font-family: $open-sans-condensed;
    line-height: 36px;
    color: $text-color;
  }
  .faqLine{
    text-align: center !important;
    margin: 0 auto;
    // padding: 5px center;

  }
}

h1,
h2 {
  text-align: center;
  color: $text-color;
  font-family: $open-sans-condensed;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

#contact {
  img {
    margin: 0 auto;
  }

  p {
    color: $text-color;
    font-family: $open-sans-condensed;
    font-size: 26px;
    line-height: 50%;
  }
  padding: 15px;
}

#register {
  padding: 15px;

  span {
    font-size: 36px;
    color: $text-color;
    font-family: $open-sans-condensed;
  }

  .btn {
    border: 2px solid orange;
    padding: 15px;
    font-size: 36px;
    color: $text-color;
    font-family: $open-sans-condensed;
    margin: 15px;
  }
}

#social {
  padding: 15px;
  .socialList{
    margin:auto;
  }
}

.textSep{
  // border-style : Solid;
	// border-color : #3D405B;
	// border-color : rgba(61, 64, 91, 1);
	// border-width : 1px;
}
