@import "compass";
@import "partials/variables";


.not-visible{
  visibility: hidden;
}
@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}
.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}

.center{
  text-align:center;
}

.test{
  border:1px solid red;
}

.home-main{
  height: 100vh;
  background-image: url('../images/back.png');
  background-size: cover;
  background-position: center;
}

.logo-row{
  padding: 56px 100px;

  .logo-right{
    text-align: right;

    .right-box{
      border-style : solid;
    	border-color : #FFFFFF;
    	border-color : rgba(255, 255, 255, 1);
    	border-width : 2px;
    	width : 152px;
    	height : 296px;
    	box-shadow : 0px 0px 5px rgba(0, 0, 0, 0.35);
      padding: 15px;
      position: relative;


      span{
        border: 1px solid red;
        position: absolute;
        bottom: 10px;
        left:0%;
        font-weight: 400;
        font-family: $comfortaa;
        color: $white;
        line-height: 200%;
        font-size: 16px;

      }

      img{
        margin: 0 auto;
      }
    }
  }

  .logo-left{

    span{
      font-size: 24px;
      color: $white;
      font-family: $comfortaa;
      margin:15px 0px;
    }

    h1{
      font-size: 4rem;
      margin:15px 0px;
      text-transform: uppercase;
      color: $white;

      font-family: $comfortaa;
    }
  }

}

.register-button{

  .button-above{
    border: 2px solid $white;
  	width : 265px;
  	height : 73px;
    padding: 5px 3px;


      a{
        border:2px solid $white;
        height:100%;
        width:100%;
        font-size: 24px;
      }




  }
}

.down-arrow{
  margin-top:15vh;
}
