@charset "UTF-8";
@import "compass";
@import "partials/normalize";
@import "partials/variables";

body,html{
  font-size: 14px;
  overflow-x: hidden;
}

*:focus {
    outline: none !important;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $home-background;
  font-family: $open-sans-condensed;
  color: $text-color;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
.not-visible {
  visibility: hidden;
}
.button{
  border: 0;
  text-align: center;
  display: inline-block;
  padding: 10px;
  margin: 2rem;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,.25);
  font-size: 14px;
  width: 150px;
  color: #f3a0a7;
  background-color: $white;
  border-radius: 4px;
  font-family: $montserrat;
  text-transform: uppercase;
  text-decoration: none;
  transition: box-shadow 200ms ease-out;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
// container from bootstrap
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: $xs-break) {
      width: 750px;
  }
  @media screen and (min-width: $md-break) {
    width: 970px;
  }
  @media screen and (min-width: $lg-break) {
    width: 1170px;
  }
  @media screen and (min-width: $xl-break) {
    width: 1400px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.center {
  text-align: center;
}

// index.html starts from here
.ngview{
  position:relative;
  top: 117px;
}
.ngview.home{
  top: 0px;
}
.nav-bar {
  min-height: 56px;
  height: auto;
  position: fixed;
  width: 100%;
  font-family: $varela;
  z-index: 2;
  background: #3949AB;
  .fa-bars{
    font-size: 28px;
    color: $white;
    margin:1rem;
  }
  ul {
    list-style-type: none;
    padding: 5px;
    margin: 0 auto;
   li {
      float: left;
      padding: 10px 5%;
      text-transform: uppercase;
      color: #C6DFF8;
      // color:black;
      font-weight: 500;
      // margin: 0 1%;
      // padding: 10 5%;
      a {
        color: white;
        text-decoration: none;
      }
      &:hover {
        color: #ffffff;
        cursor: pointer;
        background-color: #6b1be2;
      }
    }
  }
  // .navImage{
  //   max-height: 20%;
  // }
  .isActive {
    background-color: #330538;
  }
}

// sidenav
md-sidenav{
  font-family: $varela;
  .header{
    background: #3949AB;
    img{
      padding: 24px;
    }
  }
  ul li{
    padding: .5rem;
    a{
      font-size: 20px;
      text-decoration: none;
    }
  }
}


// home.html starts from here
md-card{
  padding: 3rem 1.2rem;
}
#about {
  md-card{
    .left{
      @media screen and (min-width: 960px) {
        float: left;
        padding: 24px;
        max-width: 450px;
        img{
          max-width: 420px;
          height: auto;
        }
      }
      img{
        width: 100%;
        height: auto;
      }
    }
    .right{
      h1{
        margin-bottom: 0;
        text-align: center;
      }
      img{
        margin: 1rem auto;
      }
      span{
        font-size: 20px;
        line-height: 36px;
      }
      @media screen and (min-width: 960px) {
        float: right;
        max-width: calc(100% - 450px);
        padding: 24px;
        h1{
          margin: 0 auto;
          text-align: left !important;
        }
        img{
          margin: 1rem 0;
        }
      }
    }
  }
}
#incentives {
  margin: 2rem auto;
  @media screen and (max-width: 960px) {
    h1{
      text-align: center;
    }
  }
  md-card{
    overflow: hidden;
  }
  h1{
    margin-bottom: 0;
  }
  img {
    margin: 1rem auto;
  }
  p{
    font-size: 20px;
    line-height: 36px;
    max-width: 1000px;
    text-align: center;
  }
  ul {
    font-size: 20px;
    line-height: 36px;
  }
  .faqline{
    text-align: center !important;
    margin: 0 auto;
    a{
      text-decoration: none;
    }
  }
}
#contact {
  .wrapper{
    width: 100%;
    margin-bottom: 2rem;
  }
  h1{
    margin-bottom: 0;
  }
  img {
    margin: 1rem auto;
  }
  h2{
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }
}
#register {
  padding: 15px;
  span {
    font-size: 36px;
  }
  .btn {
    border: 2px solid orange;
    padding: 15px;
    font-size: 36px;
    margin: 15px;
  }
}
#social {
  padding: 16px;
  .socialList{
    margin-bottom: 2rem;
    img{
      height: 100px;
      width: 100px;
      margin: auto 2rem;
    }
  }
}


// main.html starts from here
.home-main {
  min-height: 100vh;
  background: $white;
  background: linear-gradient(rgba(254, 149, 102, 0.6), rgba(255, 112, 96, 0.6)), url('../images/back.png') no-repeat center;
  background-size: cover;
  background-position: center;
  .header-wrapper{
    height:100vh;
    font-family: $montserrat;
    span{
      font-size: 1.4rem;
      color: white;
    }
    h1{
      font-size: 3rem;
      color: white;
    }
    .down-arrow{
      position: absolute;
      bottom: 50px;
      animation-name: stretch;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-delay: 0;
      animation-iteration-count: infinite;
      animation-fill-mode: none;
      animation-play-state: running;
      width: 100%;
    }
  }
}
@keyframes stretch {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 40px;
  }
  100% {
    bottom: 30px;
  }
}

.logo-right{
  border: 1px solid white;
  padding: 16px;
  max-width: 140px;
  position: fixed;
  top: 50px;
  right: 50px;
  span{
    // border: 1px solid red;
    margin: 2rem auto;
    font-size:1rem !important;
    text-align: center;
  }
}

.test{
  border: 1px solid red;
}
