// fonts
$varela: 'Varela Round', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$pt-sans: 'PT Sans', sans-serif;
$titanium:'Titillium Web', sans-serif;
$lato: 'Lato', sans-serif;
$montserrat:  'Montserrat', sans-serif;
$droid-sans:'Droid Sans', sans-serif;
$comfortaa : 'Comfortaa', sans-serif;
$open-sans-condensed: 'Open Sans Condensed', sans-serif;

// social color
$behance:#1769ff;
$background:#1a1a1a;
$codgray:#171717;
$dribble:#ea4c89;
$facebook:#3b5998;
$instagram:#405de6;
$linkedin:#0077b5;
$tomato:#ed4040;
$twitter:#55acee;
$white:#ffffff;


// base color
$base-color:#483D8E;
$base-color2:#7b70c2;
$base-gray:#373c46;
$content-gray:#90A4AE;
$input-border:#F5F5F5;
$base-pink:#FE6192;
$text-color:#3D405B;
$home-background:#f4f1de;


//responsive breaks
$xs-break:600px;
$sm-break:768px;
$md-break:960px;
$lg-break:1280px;
$xl-break:1440px;
