<div class="home" ng-controller = "HomeCtrl">
  <nav class="nav-bar valign-wrapper hide-on-med-and-down">
      <ul>
        <li><a>Home</a></li>
        <li><a>Home</a></li>
        <li><a>Home</a></li>

      </ul>
  </nav>

  <section id = "about">

      <div class="custom-card" layout = "row" layout-wrap layout-xs = "column">
        <div class="" flex = "40">
          <img src="images/guitar.png" alt="">
        </div>
        <div class="" flex = "60">
          <h1>About Us</h1>
          <div class="" layout = "row">
            <img src="images/textsep.svg" alt="">
          </div>
          <div class="about-text" layout = "row">
            Rendezvous is the annual cultural fest of IIT-Delhi. Started in 1976 by a bunch of enthusiastic IITians with a unique vision to encourage cultural exchange and celebrate the passion within, RDV has grown to become North India&#39;s largest college
            cultural festival, drawing a footfall of over 50,000 from 350 colleges all over the country
          </div>
          <br>
          <br>
          <div class="about-text" layout ="row">
            Rendezvous is the inimitable product of Delhi&#39;s unique lust for life and BRCA&#39;s proverbial tendency for excellence. It is a 4 day extravaganza with equal parts of awesomeness in organisation and turnout. Having hosted performers such as
            Arijit Singh, Shankar Ehsaan Loy, Kay Kay, Farhan Akhtar, Vishal Shekhar, and Hoobastank in the past, Rendezvous 2017 promises to be even bigger and better than ever
          </div>
        </div>
      </div>

  </section>

  <section id = "incentives" layout-align = "center center">
    <div class="custom-card1 center" >
      <h1>What is College Ambassador Program?</h1>
      <div class="center" layout = "row" >
        <img src="images/textsep.svg" alt="">
      </div>
      <div class=" center inc-text" layout = "row">
        The Campus Ambassadors Program (CAP) is the premier publicity program of RDV and provides an opportunity to students from colleges all over India to get involved in the making of North India&#39;s largest college fest. Campus Ambassadors serve as
          the face of Rendezvous in their college and get hands on experience in institute level coordination, fest organization, teamwork, event management and media relations.
          <br>
          Little to give, so much to gain!
      </div>
      <div class=" inc-text" layout = "row">
        For details check FAQs Section
      </div>

      <h1>What's in it for you?</h1>
      <div class="center" layout = "row" >
        <img src="images/textsep.svg" alt="">
      </div>

    </div>
  </section>


  <section id = "contact">
    <h1>or bhai</h1>
  </section>

  <section id = "">
    <h1>or bhai</h1>
  </section>
</div>
