<section class="home-main">
  <div class="logo-row  " layout="row" layout-wrap layout-xs="column">
    <div class="  logo-left" flex="100" flex-gt-sm="80" layout-align="center">
      <span>BRCA IIT Delhi's</span>
      <h1>Rendezvous</h1>
      <h1>2017</h1>
    </div>
    <div class=" logo-right" flex="100" flex-gt-sm="20" layout-align-xs="center">
      <div class="center right-box" layout-align="center">
        <img src="images/logo.svg" alt="">
        <span>
        CAMPUS AMBASSADOR PROGRAM
      </span>
      </div>
    </div>

  </div>
  <div class="register-button" layout="row" layout-align="center">
    <div class="button-above center valign-wrapper" layout-align="center">
      <a class="valign-wrapper" layout-align="center" href="" style="text-decoration:none">Register</a>
    </div>
  </div>

    <br>

    <div class="register-button" layout="row" layout-align="center"  >
      <div class="button-above center valign-wrapper" layout-align="center" id="faqButton">
        <a class="valign-wrapper" layout-align="center" href="images/FAQsRDVcap.pdf" target="_blank" style="text-decoration:none">FAQs</a>
      </div>
    </div>

  <div class="down-arrow" layout="row" layout-align="center center">
    <a ng-href="#!/home"><img src="images/down.png" alt=""></a>
  </div>
<br>
</section>
